*{
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

:root{
    --my-font: Noto Sans Math;
    --bg-color: #fff;
    --text-color: #000;
    --background: url('img/back.png'); 
    --home-background-color:  rgb(230 232 231 / 20%);
    --about-background-color:  #e5e7e757;
    --about-shadow: 0 4px 30px rgb(124 128 129 / 20%);
}

body{
    background-color: var(--bg-color);
    background-image: var(--background);
    color: var(--text-color);
    width: 100%;
    font-family: var(--my-font);
    overflow-x: hidden;
}

.home{
    color: #000;
    text-decoration: none;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.fixedWidth{
    padding-top: 10px;
}

.navbar{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

.navbar1{
    display: none;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-image{
    width: 75px;
    height: 100%;
    margin-left: 20px;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.name{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 50px;
}

.list1{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.social1{
    display: none;
}

.contents{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 150px; */
    /* gap: 140px; */
    font-size: 30px;
    margin-top: 50px;
}

.social{
    margin-bottom: 20px;
    background-color: #fff;
    /* border: 1px solid #000; */
    width: 5%;
    height: auto;
    /* gap: 30px; */
    margin-top: 65px;
}

.web3{
    padding-bottom: 5px;
    font-size: 35px;
    margin-top: 10px;
}

.socials{
    /* background-color: #fff; */
    color: #000;
    margin-left: 15px;
    gap: 40px;
    /* margin-bottom: 50px; */
}


/* Home section */
.profile{
    width: 95%;
    text-align: center;
}

.name1{
    font-size: 55px;
}

.able{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.abilities{
    font-size: 30px;
    background-color: #80838357;
    color: #000;
    border-radius: 10px;
    padding: 25px 10px;
    background: var(--home-background-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 25px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    margin: 0 auto;
}

.project{
    padding: 15px 10px;
    background: rgb(230 232 231 / 20%);
    color: #000;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(10 10 10 / 20%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #dbdbe7;
    padding: 10px 10px;
    /* #144e14c9 */
    /* #134013c9 */
}

.proj{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


/* Contact section */
.myForm{
    width: 100%;
}

.wrap1{
    width: 100%;
}

.wrap{
    width: 500px;
    margin: 0 auto;
    /* text-align: center; */
}

.touch{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.fill{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.container1{
    display: flex;
    justify-content: space-between;                                                                        
    border-radius: 5px;
    width: 700px;
    max-height: 100%;
    gap: 54px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.formControl{
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.newform{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #707070;
    box-sizing: border-box;   
}

.err{
    
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
    /* padding: 20px; */
}

.err2{
    background-color: #837e7e2e;
    position: fixed;
    width: 30%;
    top: 20%;
    padding: 10px;
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    z-index: 20;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(20px);  
}

.response1{
    background-color: #a395953b;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 100px 20px;
    backdrop-filter: blur(7px);
}

.response{
    width: 500px;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.success{
    width: 250px;
    height: auto;
    fill: green;
    margin: 0 auto;
}

.success1{
    width: 100%;
    height: 100%;
}

.reach{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.area{
    width: 100%;
    height: 55px;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    /* margin-top: 15px; */
    border-radius: 5px;
    padding: 10px;
}

.butt{
    margin: 0 auto;
    width: 110px;
    margin-bottom: 20px;
}

.butt1{
    background-color: #fff;
    color: #000;
    font-size: 15px;
    width: 100px;
    height: 42px;
    padding: 9px;
    border-radius: 5px;
    /* text-align: center; */
    border: none;
    box-shadow: 0px 10px 30px 0px rgba(14, 28, 60, 0.15);
    cursor: pointer;
  }

  .icon1{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 335px;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}

.icon2{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 335px;
    margin: 0 auto;
}

.phone1{
    color: #000;
    width: 25px;
    height: 45px;
}

.device1{
    width: 23px;
    height: 23px;
}

/* About section */
.fixed{
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
}

.about{
    background-color: var(--about-background-color);
    color: #000;
    width: 800px;
    border-radius: 15px;
    padding: 15px 10px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: var(--about-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    
}

.about1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.web{
    font-size: 18px;
    /* font-weight: bold; */
}

.data{
    background-color: var(--about-background-color);
    color: #000;
    width: 800px;
    /* height: 115px; */
    font-size: 18px;
    margin-left: 545px;
    margin-top: 60px;
    padding: 15px 10px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(124 128 129 / 20%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.skills{
    background-color: var(--about-background-color);
    color: #000;
    width: 530px;
    /* height: 300px; */
    padding: 15px 10px;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 18px;
    /* font-weight: bold; */
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(124 128 129 / 20%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.skill{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.exp{
    list-style: none;
    /* background-color: #fff; */
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    /* gap: 30px; */
}

.exp1{
    padding-bottom: 7px;
}

.exp1:hover{
    background-color: transparent;
    font-size: 30px;
}

.submit1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.submit{
    padding: 15px 10px;
    background: rgb(230 232 231 / 20%);
    color: #000;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(10 10 10 / 20%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #dbdbe7;
    padding: 10px 10px;
}

.mycontact{
    margin-top: 30px;
}

.contact{
    /* padding-top: 80px; */
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    opacity: 3;
}

.mail{
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
  }


/* Projects section */
.pro{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.constant{
    margin-bottom: 90px;
}

.roller{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 10px; */
    padding: 10px;
}

.fix{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    /* gap: 40px; */
}

.row3{
    text-align: center;
    width: 650px;
    height: auto;
    margin: 0 auto;
  }

  .imgDiv1{
    width: 100%;
    margin: 0 auto 10px auto;
    height: auto;
    
  }

  .sec{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .imgDetails{
    /* display: none; */
  }

  .page{
    font-size: 21px;
    font-weight: bold;
  }

  .page1{
    font-size: 16px;
    margin-bottom: 5px;
  }

  .linkInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .linkDetails{
    color: blue;
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 18px;
    /* margin-top: 20px; */
  }

  .arrowImg{
    fill: blue;
    width: 10px;
    height: auto;
  }

  .page2{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .page3{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .page4{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .page5{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .page6{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .navbar1{
    display: none;
  }

.navbar2{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e0b0bba;
}

  .nav{
    /* padding: 20px; */
    width: 45%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(50px);
    font-size: 16px;
    /* color: #000; */
    padding: 2px 8px;
  }

  .back{
    list-style: none;
  }

  .back1{
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5px;
    z-index: 3;
  }

  .social2{
    display: none;
  }

  .ani{
    animation-timeline: 2secs;
  }

  .imgContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000006e;
    z-index: 10;
    
  }


  .imgContainer1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 12;
  }

  .imgContainer2{
    width: 100%;
    height: 180px;
  }

  .imgContainer2 > img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .imgInfo{
    height: auto;
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* @media(max-width: 1440px){
    .formControl{
        height: 350px;
    }
  } */

  @media(max-width: 1024px){
    /* Home section */
    .name1{
        font-size: 35px;
    }

    .able{
        width: 800px;
    }

    .abilities{
        font-size: 20px;
    }

    .socials{
        margin-left: 10px;
    }

    .web3{
        width: 60px;
        font-size: 30px;
    }
    
    /* About section */
    .constant{
        margin-bottom: 30px;
    }
    
    .data{
        width: 566px;
        margin-left: 390px;
    }
    
    .row3{
        width: calc(50% - 20px);
        height: auto;
        /* margin: 0 auto; */
    }

    .imgDiv1{
        width: 400px;
    }

    .page{
        font-size: 14px;
    }

    .page1{
        font-size: 12px;
    }

    /*Project section*/
    .linkDetails{
        font-size: 14px;
    }

    /* Contact section */
    .wrap{
        width: 500px;
    }

      .ani{
         transition: opacity 0.5s ease-in;
      }

  }

  @media(max-width: 768px){
    .central{
        display: flex;
        flex-direction: column;
        /* margin-bottom: 20px; */
    }

    .navbar1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }

    .bar{
        font-size: 30px;
        width: 40px;
        /* height: 100% */
    }

    .navbar{
        display: none;
    }

    .contents {
        position: relative;
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        /* height: 150px; */
        /* gap: 100px; */
        font-size: 25px;
        margin-top: 50px;
    }

    .profile{
        margin: 0 auto;
        text-align: center;
    }

    .name1{
        font-size: 20px;
    }

    .able {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .abilities{
        font-size: 18px;
    }

    .project{
        margin-bottom: 40px;
    }

    .pro{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .data{
        width: 410px;
        margin-left: 320px;
    }

    .data1{
        font-size: 15px;
    }

    .mail{
        padding-bottom: 0px;
    }

    .social1{
        /* background-color: #fff; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
        width: 100%;
        max-width: 300px;
        height: 30px;
        /* border: 1px solid #707070; */
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .social3{
        color: #000;
        font-size: 25px;
        gap: 40px;
    }

    .about{
        width: 400px;
        padding: 15px 20px;
    }

    .about1{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        
    }

    .web{
        font-size: 15px;
    }

    .skills{
        width: 429px;
        height: auto;
        padding: 15px 20px;
    }

    .para{
        font-size: 15px;
    }

    .exp{
        font-size: 20px;
    }

    /* Project selection */


    .arrowImg{
        width: 8px;
    }

    .row3{
        padding: 15px 10px;
        width: 100%;
        height: auto;
    }

    .imgDiv1{
        /* width: 100%; */
    }

    .page{
        font-size: 13px;
    }

    /* Contact selection */
    .social{
        display: none;
    }
    
    .touch{
        font-size: 30px;
    }

    .myForm{
        /* width: 340px; */
        margin: 0 auto;
        padding: 20px 10px;
    }

    .container1{
        width: 100%;
    }

    .wrap{
        width: 450px;
    }

    .formControl{
        font-size: 25px;
        width: 100%;
        height: auto;
    }

    .area{
        width: 100%;
        height: 70px;
        /* margin-top: 15px; */
    }

    .xmark1{
        display: flex;
        justify-content: end;
    }

    .xmark{
        color: #000;
        font-size: 23px;
        padding: 5px;
      }

      .social3{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        font-size: 30px;
      }

      .mycontact{
        margin: 0 auto;
        padding-bottom: 20px;
      }

    .icon1{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.icon2{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 302px;
    margin: 0 auto;
}

.phone1{
    color: #000;
    width: 25px;
    height: 25px;
}

    .contact{
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        padding-bottom: 10px;
        /* text-align: center; */
      }

      .mail{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
      }

      .imgContainer1{
        width: 50%;
      }

      .butt{
        width: 80px;
      }

      .butt1{
        width: 100%;
        height: auto;
      }
  }

  @media(max-width: 425px){
    .cover{
        background-color: #fff;
    }

    .navbar1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        width: 100%;
        /* margin-top: -25px; */
    }

    .bar{
        font-size: 25px;
        height: 100%;
    }

    .xmark{
        font-size: 20px;
      }

    .navbar{
        display: none;
    }


    .container1{
        width: 80%;
        margin: 0 auto;
    }
    
    .profile{
        /* width: 202px; */
        /* text-align: left; */
        margin: 0 auto;
        align-items: center;
        margin-top: 14px;
    }
    

    .icon{
        gap: 10px;
    }
    .main-image{
        width: 38px;
    }

    .name{
        font-size: 15px;
    }

    .able{
        width: 100%;
        /* margin-right: 62px; */
    }

    .abilities{
        font-size: 15px;
    }

    .contents{
        gap: 0px;
        font-size: 21px;
    }

    .social{
        margin-top: 45px;
    }

    .socials{
        font-size: 22px;
    }

    .social3{
        font-size: 25px;
    }

    .project{
        /* margin-left: 100px; */
        width: 100%;
        margin: 0 auto;
    }

    .projects{
        width: 100px;
        margin: 0 auto;
    }

    /* About section */
    .fixed{
        width: auto;
    }

    .name1{
        font-size: 16px;
    }

    .about{
        width: 90%;
        margin: 10px auto;
        margin-top: 20px;
    }

    .about1{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .web{
        font-size: 13px;
    }

    .data{
        width: 90%;
        margin: 20px auto;
    }

    .data1{
        font-size: 13px;
    }

    .skills{
        width: 90%;
        margin: 0 auto;
        /* height: 220px; */
    }

    .skill{
        font-size: 25px;
        font-weight: bold;
    }

    .exp{
        font-size: 18px;
    }

    /* Project section */
    .pro{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 0px
    }

    .imgDiv1{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    .page{
        font-size: 12px;
    }

    .page1{
        font-size: 10px;
    }

    .page2{
        font-size: 12px;
        margin-bottom: -10px;
    }

    .page3{
        font-size: 12px;
    }

    .page4{
        font-size: 12px;
    }

    .page5{
        font-size: 12px;
    }

    .page6{
        font-size: 12px;
    }

    .page2{
        margin-bottom: 10px;
    }

    .row3{
        height: auto;
        /* margin-bottom: 30px; */
    }  

    .imgContainer1{
        width: 100%;
        padding: 30px;
    }

    .imgContainer2{
        height: 100%;
    }

    .linkDetails{
        font-size: 12px;
    }

    .arrowImg{
        width: 8px;
    }
    
    /* Contact selection */
    .container{
        /* display: flex; */
        width: 100%;
        /* gap: 45px; */
        font-size: 25px;
        /* margin-top: 30px; */
    }

    .formControl{
        width: 100%;
        height: 100%;
        padding: 15px;
    }    

    .myForm{
        width: 100%;
        margin: 0 auto;
        padding: 20px 10px;
    }  

    .wrap{
        margin-bottom: 10px;
        width: 100%;
    }

    .social1{
        gap: 22px;
    }
    
    .social2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .cover{
        background-color: #fff;
    }

    .mycontact{
        padding-bottom: 10px;
    }

    .contact{
        width: 100%;
        font-size: 13px;
    }

    .mail{
        font-size: 13px;
    }

    .err{
        font-size: 12px;
    }

    .icon1{
        width: 255px;
        margin-bottom: 3px;
    }

    .icon2{
        width: 255px;
    }

    .phone1{
        width: 29px;
        height: 32px;
    }

    .butt{
        width: 70px;
      }

      .butt1{
        font-size: 13px;
      }

  }

  @media(max-width: 375px){
    /* Home section */
    .navbar1{
        width: 100%;
    }

    .project{
        width: 100%;
        margin: 0 auto;
    }

    /*Project section*/
    .pro{
        font-size: 25px;
    }

    .arrowImg{
        width: 7px;
    }


    /* Contact section */
    .mycontact{
        /* margin-bottom: 15px; */
    }
    
    .social2{
        display: flex;
        justify-items: center;
        align-items: center;
      }

      .touch{
        font-size: 25px;
        text-align: center;
      }

      .social{
        display: none;
      }
  }

  @media(max-width: 320px){
    /* Home section */
    .navbar1{
        width: 100%;
    }

    .bar{
        width: 35px;
    }

    .project{
        /* margin-left: 110px; */
        width: 100%;
        margin: 0 auto;
    }

    /* Contact section */
    .mycontact{
        /* margin-bottom: 13px; */
    }

    .social2{
        display: flex;
        justify-items: center;
        align-items: center;
      }

      .social3{
        font-size: 20px;
      }

      .social{
        display: none;
      }

      .touch{
        font-size: 20px;
        text-align: center;
      }

      .area{
        width: 100%;
      }

      .icon1{
        width: 234px;
        margin-bottom: 5px;
      }

      .device1{
        height: 27px;
        }

      .icon2{
        width: 234px;
      }

      .phone1{
        width: 29px;
        height: 29px;
      }

      .contact{
        font-size: 11px;
      }

      .mail{
        font-size: 12px;
      }
  }


